<%= form_for(@localidad) do |f| %>
  <% if @localidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@localidad.errors.count, "error") %> prohibited this localidad from being saved:</h2>

      <ul>
      <% @localidad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
