<p>
  <b>Ncuotas:</b>
  <%= @avaluo.try :ncuotas %>
</p>

<p>
  <b>Couta cents:</b>
  <%= @avaluo.try :couta_cents %>
</p>

<p>
  <b>Cuota currency:</b>
  <%= @avaluo.try :cuota_currency %>
</p>

<p>
  <b>Interes:</b>
  <%= @avaluo.try :interes %>
</p>
