<p>
  <b>Cantidad de cuotas:</b>
  <%= @avaluo.try :ncuotas %>
</p>

<p>
  <b>Valor de la Couta:</b>
  <%= @avaluo.try :couta_cents %>
</p>

<p>
  <b>Interes:</b>
  <%= @avaluo.try :interes %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @avaluo.try :observaciones %>
</p>
