<table>
  <tr>
    <th>Inicio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.inicio %></td>
    <td><%= link_to 'Detalles', payment %></td>
    <td><%= link_to 'Editar', edit_payment_path(payment) %></td>
    <td><%= link_to 'Borrar', payment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

</table>
