<%= table_for(@lots) do |t| %>
  <%= t.data do
    t.cell(:manzana)
    t.cell(:loteo)
    t.cell(:parcela)
    t.cell(:partida)
    t.cell(:estado)
    t.cell(:titular)
    t.cell(:acciones, :heading => "Acciones", :cell_html => {:class => "acciones"}) do |lot|
      cell_content = "<ul>\n  "
      cell_content += "<li>#{link_to 'Detalles', lot}</li>\n"
      cell_content += "<li>#{link_to 'Editar', edit_lot_path(lot)}</li>\n"
      if lot.pagable?
        cell_content += "<li>#{ link_to 'Ver pagos', payment_pays_path(lot.payment_actual) }</li>\n"
        cell_content += "<li>#{ link_to 'Generar Pago', new_payment_pay_path(lot.payment_actual) }</li>\n"
      end
      cell_content += "</ul>"
      cell_content.html_safe
    end
  end %>
<% end %>

