// Place all the styles related to the avaluos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.avaluos {
  // Add the avaluos class to your body tag
  // Then, place scoped styles here.
}