// Place all the styles related to the debts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.debts {
  // Add the debts class to your body tag
  // Then, place scoped styles here.
}